## DATA 512 Final Project Analysis
### Natasha Halfin
### Autumn 2020

### Introduction
This Jupyter notebook shows the work I conducted for my final project to address the following research question and hypothesis: 
 
**Research Question**: What factors are associated with countries with greater female representation in politics?  

**Hypothesis**: Countries with better performance across key gender parity indicators are more likely to have greater representation of women in politics.

### Environment Setup
Before beginning the analysis, I will import all necessary libraries and load my datasets.

In [2]:
#Import libraries/packages
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

### Part 0: Data Loading, Cleaning, and Preparation

In [24]:
#Load data
df_GIDDB = pd.read_csv("GIDDB2019_NH.csv",sep =",")
df_EMP = pd.read_csv("GENDER_EMP_2014-2019.csv",sep =",")
df_GIDDB.head()
df_EMP.head()

,COU,Country,IND,Indicator,SEX,Sex,AGE,Age Group,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,SVN,Slovenia,EMP17,Female share of seats in national parliaments,WOMEN,Women,TOTAL,Total,2014,2014,NaN,NaN,0,Units,NaN,NaN,35.6,NaN,NaN
1,GRC,Greece,EMP17,Female share of seats in national parliaments,WOMEN,Women,TOTAL,Total,2014,2014,NaN,NaN,0,Units,NaN,NaN,21.0,NaN,NaN
2,LUX,Luxembourg,EMP17,Female share of seats in national parliaments,WOMEN,Women,TOTAL,Total,2014,2014,NaN,NaN,0,Units,NaN,NaN,28.3,NaN,NaN
3,SVK,Slovak Republic,EMP17,Female share of seats in national parliaments,WOMEN,Women,TOTAL,Total,2014,2014,NaN,NaN,0,Units,NaN,NaN,18.7,NaN,NaN
4,SWE,Sweden,EMP17,Female share of seats in national parliaments,WOMEN,Women,TOTAL,Total,2014,2014,NaN,NaN,0,Units,NaN,NaN,44.7,NaN,NaN

In [25]:
##clean data##
##part 1: GIDDB dataset
#rename variables to friendly names in df_GIDDB
df_GIDDB['VAR'] = df_GIDDB['VAR'].replace(['DF_DV_LAW'],'Divorce Law')
df_GIDDB['VAR'] = df_GIDDB['VAR'].replace(['DF_HR_ATT'],'Household Responsibilities Attitudes')
df_GIDDB['VAR'] = df_GIDDB['VAR'].replace(['RPI_VAW_PRACT'],'Violence Against Women Practices')
df_GIDDB['VAR'] = df_GIDDB['VAR'].replace(['RPI_RA_LAW'],'Reproductive Autonomy Law')
df_GIDDB['VAR'] = df_GIDDB['VAR'].replace(['RAPFR_SAFS_LAW'],'Access to Financial Services Law')
df_GIDDB['VAR'] = df_GIDDB['VAR'].replace(['RCL_PV_PRACT'],'Political Voice Practices')

df_GIDDB.head()

,REGION,Region,LOCATION,Country,INC,Income,VAR,Variable,TIME,Year,Value,Flag Codes,Flags
0,ASI,Asia,AUS,Australia,HIN,High income,Household Responsibilities Attitudes,Attitudes,2019,2019,21.1,NaN,NaN
1,ASI,Asia,AUS,Australia,HIN,High income,Divorce Law,Law,2019,2019,0.0,NaN,NaN
2,ASI,Asia,AUS,Australia,HIN,High income,Violence Against Women Practices,Practice,2019,2019,16.9,NaN,NaN
3,ASI,Asia,AUS,Australia,HIN,High income,Reproductive Autonomy Law,Law,2019,2019,0.0,NaN,NaN
4,ASI,Asia,AUS,Australia,HIN,High income,Access to Financial Services Law,Law,2019,2019,0.0,NaN,NaN

In [26]:
#drop redundant or unneeded columns
df_GIDDB = df_GIDDB.drop(['REGION','LOCATION','INC','Variable','TIME','Flag Codes','Flags','Income','Region'],axis=1)
df_GIDDB.head()

     Country                                   VAR  Year  Value
0  Australia  Household Responsibilities Attitudes  2019   21.1
1  Australia                           Divorce Law  2019    0.0
2  Australia      Violence Against Women Practices  2019   16.9
3  Australia             Reproductive Autonomy Law  2019    0.0
4  Australia      Access to Financial Services Law  2019    0.0

In [27]:
#pivot datadrame to create column for each variable/indicator
df_GIDDB_pivot = pd.pivot_table(df_GIDDB,values='Value', columns = 'VAR',index = ['Country','Year'])
df_GIDDB_pivot.head()

,VAR,Access to Financial Services Law,Divorce Law,Household Responsibilities Attitudes,Political Voice Practices,Reproductive Autonomy Law,Violence Against Women Practices
Country,Year,,,,,,
Afghanistan,2019,0.25,1.00,NaN,27.7,0.75,60.8
Albania,2019,0.25,0.25,NaN,27.9,0.00,24.6
Algeria,2019,0.25,1.00,75.1,25.8,0.75,NaN
Angola,2019,0.25,0.50,NaN,30.5,0.00,34.8
Antigua and Barbuda,2019,0.25,0.00,NaN,11.1,0.75,NaN

In [35]:
#part 2: EMP dataset
#drop unneeded columns
df_EMP = df_EMP[['Country','Indicator','Time','Value']]
df_EMP = df_EMP.rename(columns={"Time":"Year"})
df_EMP.head()

           Country                                      Indicator  Year  Value
0         Slovenia  Female share of seats in national parliaments  2014   35.6
1           Greece  Female share of seats in national parliaments  2014   21.0
2       Luxembourg  Female share of seats in national parliaments  2014   28.3
3  Slovak Republic  Female share of seats in national parliaments  2014   18.7
4           Sweden  Female share of seats in national parliaments  2014   44.7

In [37]:
#pivot indicators to columns
df_EMP_pivot = pd.pivot_table(df_EMP,values='Value',columns='Indicator',index = ['Country','Year'])
df_EMP_pivot.head()

Indicator       Female share of seats in national parliaments  \
Country   Year
Australia 2014                                           26.0
          2015                                           26.7
          2016                                           28.7
          2017                                            NaN
          2018                                            NaN

Indicator       Female share of seats on boards of the largest publicly listed companies  \
Country   Year
Australia 2014                                                NaN
          2015                                                NaN
          2016                                               26.0
          2017                                               28.7
          2018                                               31.5

Indicator       Length of maternity leave  Share of female managers
Country   Year
Australia 2014                        6.0                      36.0
          2015                        6.0                      37.2
          2016                        6.0                      36.3
          2017                        NaN                      38.2
          2018                        NaN                      37.3

In [39]:
#join GIDDB and EMP datasets
df_join = df_EMP_pivot.merge(df_GIDDB_pivot,how = 'inner',on = ['Country','Year'])
df_join.head()

,,Female share of seats in national parliaments,Female share of seats on boards of the largest publicly listed companies,Length of maternity leave,Share of female managers,Access to Financial Services Law,Divorce Law,Household Responsibilities Attitudes,Political Voice Practices,Reproductive Autonomy Law,Violence Against Women Practices
Country,Year,,,,,,,,,,
Australia,2019,NaN,31.2,NaN,NaN,0.0,0.0,21.1,28.7,0.0,16.9
Austria,2019,NaN,31.3,NaN,NaN,0.0,0.0,58.3,34.4,0.0,13.0
Belgium,2019,NaN,35.9,NaN,NaN,0.0,0.0,32.0,38.0,0.0,24.0
Brazil,2019,NaN,11.9,NaN,NaN,0.0,0.0,60.4,10.7,0.5,33.5
Canada,2019,NaN,29.1,NaN,NaN,0.0,0.0,27.7,27.0,0.0,1.9

In [40]:
df_join

,,Female share of seats in national parliaments,Female share of seats on boards of the largest publicly listed companies,Length of maternity leave,Share of female managers,Access to Financial Services Law,Divorce Law,Household Responsibilities Attitudes,Political Voice Practices,Reproductive Autonomy Law,Violence Against Women Practices
Country,Year,,,,,,,,,,
Australia,2019,NaN,31.2,NaN,NaN,0.00,0.00,21.1,28.7,0.00,16.9
Austria,2019,NaN,31.3,NaN,NaN,0.00,0.00,58.3,34.4,0.00,13.0
Belgium,2019,NaN,35.9,NaN,NaN,0.00,0.00,32.0,38.0,0.00,24.0
Brazil,2019,NaN,11.9,NaN,NaN,0.00,0.00,60.4,10.7,0.50,33.5
Canada,2019,NaN,29.1,NaN,NaN,0.00,0.00,27.7,27.0,0.00,1.9
Chile,2019,NaN,8.5,NaN,NaN,0.00,0.25,36.0,22.6,0.50,6.7
China (People's Republic of),2019,NaN,11.4,NaN,NaN,0.00,0.00,42.4,24.2,0.00,NaN
Colombia,2019,NaN,13.5,NaN,NaN,0.00,0.00,42.4,18.7,0.50,37.4
Czech Republic,2019,NaN,18.2,NaN,NaN,0.25,0.25,32.5,22.0,0.00,21.0
Denmark,2019,NaN,30.0,NaN,NaN,0.00,0.00,22.1,37.4,0.00,32.0
Estonia,2019,NaN,9.4,NaN,NaN,0.00,0.00,23.9,26.7,0.00,20.0
Finland,2019,NaN,34.2,NaN,NaN,0.00,0.00,21.1,42.0,0.25,30.0
France,2019,NaN,45.2,NaN,NaN,0.00,0.00,34.7,39.0,0.00,26.0
Germany,2019,NaN,35.6,NaN,NaN,0.00,0.00,31.7,30.7,0.00,22.0
Greece,2019,NaN,10.3,NaN,NaN,0.00,0.50,NaN,18.3,0.00,19.0
Hungary,2019,NaN,12.9,NaN,NaN,0.00,0.00,50.9,10.1,0.25,21.0
Iceland,2019,NaN,45.9,NaN,NaN,0.00,0.00,13.0,38.1,0.25,22.4
India,2019,NaN,15.9,NaN,NaN,0.25,0.50,75.9,11.8,0.25,28.7
Indonesia,2019,NaN,10.1,NaN,NaN,0.25,0.25,NaN,19.8,0.50,18.3
Ireland,2019,NaN,26.0,NaN,NaN,0.00,0.00,26.0,22.2,0.75,15.0
Israel,2019,NaN,21.6,NaN,NaN,0.00,0.75,47.6,27.5,0.25,NaN
Italy,2019,NaN,36.1,NaN,NaN,0.25,0.00,NaN,31.0,0.00,19.0
Japan,2019,NaN,8.4,NaN,NaN,0.25,0.25,15.3,10.1,0.50,15.4
Korea,2019,NaN,3.3,NaN,NaN,0.00,0.00,55.2,17.0,0.50,16.5
Latvia,2019,NaN,31.7,NaN,NaN,0.25,0.00,59.3,16.0,0.00,32.0
Lithuania,2019,NaN,12.0,NaN,NaN,0.00,0.25,43.3,21.3,0.00,24.0
Luxembourg,2019,NaN,13.1,NaN,NaN,0.00,0.00,NaN,28.3,0.00,22.0
Mexico,2019,NaN,8.1,NaN,NaN,0.00,1.00,43.6,42.6,0.50,14.1
Netherlands,2019,NaN,34.2,NaN,NaN,0.00,0.25,14.9,36.0,0.00,25.0
New Zealand,2019,NaN,38.2,NaN,NaN,0.00,0.00,21.4,38.3,0.25,35.0
Norway,2019,NaN,40.2,NaN,NaN,0.00,0.25,15.2,41.4,0.00,27.0
Poland,2019,NaN,23.5,NaN,NaN,0.00,0.00,58.7,28.0,0.50,13.0
Portugal,2019,NaN,24.6,NaN,NaN,0.00,0.00,57.3,34.8,0.00,19.0
Russia,2019,NaN,10.6,NaN,NaN,0.00,0.00,38.8,15.8,0.00,19.6
Slovak Republic,2019,NaN,29.1,NaN,NaN,0.00,0.00,33.4,20.0,0.00,23.0
Slovenia,2019,NaN,24.6,NaN,NaN,0.00,0.00,27.2,36.7,0.00,13.0
South Africa,2019,NaN,27.7,NaN,NaN,0.00,0.25,53.8,42.1,0.00,20.6
Spain,2019,NaN,26.4,NaN,NaN,0.00,0.00,27.4,39.1,0.00,13.0
Sweden,2019,NaN,37.5,NaN,NaN,0.00,0.00,32.0,43.6,0.00,28.0
Switzerland,2019,NaN,24.9,NaN,NaN,0.00,0.00,42.7,32.5,0.00,9.8
Turkey,2019,NaN,18.1,NaN,NaN,0.25,0.25,65.9,14.6,0.00,38.0
United Kingdom,2019,NaN,32.6,NaN,NaN,0.00,0.00,30.6,32.0,0.75,29.0
United States,2019,NaN,26.1,NaN,NaN,0.00,0.00,24.9,19.4,0.00,35.6

### Part 1: Descriptive Analysis to Measure Correlation of Key Gender Parity Indicators to Representation of Women in Politics

In [ ]:
#Standard Linear Regression

In [ ]:
#Create stratified sample/training/testing split

In [ ]:
#measure accuracy, RMSE, etc.

### Part 2: Linear Regression Model to Predict Representation of Women in Politics

In [ ]:
#LASSO (to determine if certain features should be excluded)

In [ ]:
#repeat other steps